<Configuration>
  <AddinStatus>
    <Addin id="Banshee.LastfmStreaming,1.0" enabled="False" />
    <Addin id="Banshee.Fixup,1.0" enabled="False" />
    <Addin id="Banshee.AmazonMp3,1.0" enabled="False" />
    <Addin id="Banshee.AmazonMp3.Store,1.0" enabled="False" />
    <Addin id="Banshee.Emusic,0.1" enabled="False" />
    <Addin id="Banshee.Lastfm,1.0" enabled="False" />
    <Addin id="Banshee.InternetArchive,1.0" enabled="False" />
    <Addin id="Banshee.MiroGuide,1.0" enabled="False" />
    <Addin id="Banshee.Dap.Mtp,1.0" enabled="False" />
    <Addin id="Banshee.Dap.MassStorage,1.0" enabled="False" />
    <Addin id="Banshee.Dap.AppleDevice,0.1" enabled="False" />
    <Addin id="Banshee.Podcasting,1.0" enabled="False" />
    <Addin id="Banshee.InternetRadio,1.0" enabled="False" />
    <Addin id="Banshee.OpticalDisc,1.0" enabled="False" />
    <Addin id="Banshee.Audiobook,1.0" enabled="False" />
    <Addin id="Banshee.Wikipedia,1.0" enabled="False" />
    <Addin id="Banshee.Bpm,1.0" enabled="False" />
    <Addin id="Banshee.PlayerMigration,1.0" enabled="False" />
    <Addin id="Banshee.Daap,1.0" enabled="False" />
  </AddinStatus>
</Configuration>